<div>
    <textarea autofocus rows="20" class="form-control" data-bind="value: inputText, valueUpdate: 'keyup'"></textarea>
    <div class="top-buffer">
            <label>Søk etter artsnivå:</label>
            <input class="form-control" type="text" data-bind="typeahead: typeaheadSource, selectedValue: typeaheadSelectedValue, typeaheadOptions: typeaheadOptions, value: typeaheadTextValue, valueUpdate: 'keyup'"/>
            <br/>
            <span data-bind="text: searchName"></span>
    </div>

    <button class="btn btn-primary top-buffer" data-bind="click: parseInput">Parse</button>
    <button class="btn btn-primary top-buffer" data-bind="click: parseFixedTable">Parse fikset tabell</button>
    <div data-bind='grid:{configuration: gridViewModelSettings}'>
        <table data-dummy="dummy">
            <tr data-bind="foreach: $parent.columns" data-part="table-row">
                <!-- ko if: headerText === 'Forslag' -->
                    <!-- ko if: $parent.Forslag -->
                        <!-- ko if: $parent.Forslag().length === 0 -->
                            <td><input data-bind="value: $parent.Vitenskapelignavn, valueUpdate: 'keyup'"/></td>
                        <!-- /ko -->
                        <!-- ko if: $parent.Forslag().length > 0 -->
                            <td><select data-bind="value: $parent.Vitenskapelignavn, options: $parent.Forslag, optionsCaption: 'Mener du en av disse?'"></select></td>
                        <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko ifnot: $parent.Forslag-->
                        <td></td>
                    <!-- /ko -->
                <!-- /ko -->
                <!-- ko ifnot: headerText === 'Forslag' -->
                    <td data-bind="text: typeof rowText == 'function' ? rowText($parent) : $parent[rowText], css: $data.classList === undefined ? '' : classList"></td>
                <!-- /ko -->
            </tr>
        </table>
    </div>
</div>
