<div class="">
    <h1>En overskrift</h1>

    <p>
        en introtekst om verktøy
    </p>
</div>
<div class="tools list-group">
    <div class="row list-group-item">
        <div class="col-md-4">
            <a href="#Ansvarsarter">/#Ansvarsarter</a>
        </div>
        <div class="col-md-8">
            Lorem ipsum etc
        </div>
    </div>
    <div class="row  list-group-item">
        <div class="col-md-4">
            <a href="#Artsinformasjon">/#Artsinformasjon</a>
        </div>
        <div class="col-md-8">
            Lorem ipsum etc
        </div>
    </div>
    <div class="row list-group-item">
        <div class="col-md-4">
            <a href="#ArtsnavnImport">/#ArtsnavnImport</a>
        </div>
        <div class="col-md-8">
            Lorem ipsum etc
        </div>
    </div>
    <div class="row list-group-item">
        <div class="col-md-4">
            <a href="#Flervalg">/#Flervalg</a>
        </div>
        <div class="col-md-8">
            Lorem ipsum etc
        </div>
    </div>
    <div class="row list-group-item">
        <div class="col-md-4">
            <a href="#Galleri">/#Galleri</a>
        </div>
        <div class="col-md-8">
            Lorem ipsum etc
        </div>
    </div>
    <div class="row list-group-item">
        <div class="col-md-4">
            <a href="#MultiAccessKey">/#Ansvarsarter</a>
        </div>
        <div class="col-md-8">
            Lorem ipsum etc
        </div>
    </div>
    <div class="row list-group-item">
        <div class="col-md-4">
            <a href="#ScientificNameSearch">/#ScientificNameSearch</a>
        </div>
        <div class="col-md-8">
            Lorem ipsum etc
        </div>
    </div>
    <div class="row list-group-item">
        <div class="col-md-4">
            <a href="#Sok">/#Sok</a>
        </div>
        <div class="col-md-8">
            Lorem ipsum etc
        </div>
    </div>

</div>
</div>
