<div class="">
    <h1>Verktøykasse</h1>

    <p>
        Et utvalg mer eller mindre hjelpsomme verktøy knyttet mot Artsdatabankens API.
    </p>
    <div class="tools list-group">
        <div class="row list-group-item">
            <div class="col-md-4">
                <a href="#Ansvarsarter">#Ansvarsarter</a>
            </div>
            <div class="col-md-8">
                Søkbar liste over ansvarsarter.
                <p class="bg-warning">NB: Basert på liste fra 2010.</p>
            </div>
        </div>
        <div class="row  list-group-item">
            <div class="col-md-4">
                <a href="#Artsinformasjon">#Artsinformasjon</a>
            </div>
            <div class="col-md-8">
                ?
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-4">
                <a href="#ArtsnavnImport">#ArtsnavnImport</a>
            </div>
            <div class="col-md-8">
                ?
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-4">
                <a href="#Flervalg">#Flervalg</a>
            </div>
            <div class="col-md-8">
                ?
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-4">
                <a href="#Galleri">#Galleri</a>
            </div>
            <div class="col-md-8">
                ?
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-4">
                <a href="#MultiAccessKey">#MultiAccessKey</a>
            </div>
            <div class="col-md-8">
                ?
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-4">
                <a href="#ScientificNameSearch">#ScientificNameSearch</a>
            </div>
            <div class="col-md-8">
                Søk på vitenskapelige navn II
            </div>
        </div>
        <div class="row list-group-item">
            <div class="col-md-4">
                <a href="#Sok">#Sok</a>
            </div>
            <div class="col-md-8">
                Søk på vitenskapelige navn I
            </div>
        </div>

    </div>
</div>