<section>
	<h1 data-bind="text: 'Viser ' + $root.valgteOrdener().length + ' av ' + $root.parents().length + ' ordener'"> </h1>
	<div class="character-container" data-bind="foreach: characters">
		<div class="character" data-bind="css: {skjult: $root.characterHidden($data.conditions)}">
			<h5 data-bind="text: text"></h6>
			<div class="state-container" data-bind="foreach: states">
				<p class="state" data-bind="css: {selected: $root.selectedStates.indexOf($data.id) > -1},text: text, attr: {'data-stateid': $data.id}, click: $root.stateSelected"></p>
			</div>
		</div>
		<hr/>
	</div>
	<div class="items-container" data-bind="foreach: currentItems">
		<!-- <img width="16px" height="16px" data-bind="attr:{src: Image}" /> -->
		<p data-bind="text: text"></p>
	</div>
</section>