<div class="row">
    <div class="col-md-7">
        <div data-bind="template: {name : 'character-template', foreach: characters}"></div>
    </div>

    <div class="col-md-5" data-bind='pager: { configuration: pagerViewModelSettings }'>
        <div data-part="items" data-bind="template: {name : 'item-template', foreach: itemsOnCurrentPage}"></div>
    </div>
</div>

<script type="text/html" id="character-template">
    <h4 data-bind="text: Title"></h4>
    <!-- ko foreach: Content -->
    <div class="clearfix">
        <span data-bind="text: Title"></span>
        <input class="pull-right" type="checkbox" data-bind="checked: selected" />
    </div>
    <!-- /ko -->
</script>

<script type="text/html" id="item-template">
    <h4 data-bind="text: Title"></h4>
    <div data-bind="foreach: $data.Content">
        <!-- ko if: Type == 'property' -->
        <div data-bind="template: {name : 'item-template'}"></div>
        <!-- /ko -->
    </div>
</script>
