<div>
    <div class="well well-sm">
        <form role="form">
            <div class="form-group">
                <label for="from">Input</label>
                <textarea class="form-control" id="Input" placeholder="Input" data-bind="value: input"></textarea>
            </div>
        </form>
    </div>

    <div data-bind='pager: { configuration: pagerViewModelSettings }'>
        <div data-part="item">
            <form class=".form-inline">
                <input class="form-control" data-bind="value: ScientificName" />
                <select class="form-control" data-bind="options: result, optionsCaption: 'Choose one...', value: selectedResult, optionsText: function(item) { return item.scientificName + ' ' + item.scientificNameAuthorship }, valueAllowUnset: true"></select>
            </form>
            <div class="list-group" data-bind="html:html"></div>
        </div>
    </div>
</div>
