<section id="Search">
    <div class="row">
        <div class="form-group col-sm-6">
            <label>Søk:</label>
            <input class="form-control" data-bind="value: search, valueUpdate:'keyup'"/>
        </div>
        <div class="form-group col-sm-6">
            <label>Filter:</label>
            <select multiple title='Velg ranks' class="form-control" data-bind="selectPicker: selectedRanks,optionsText: 'text', optionsValue : 'value',  selectPickerOptions: { optionsArray: rankMapping}"></select>
        </div>
    </div>
    <span data-bind="css: {hidden: suggestions().length === 0}">Mente du:</span>
    <ul class="list-inline" data-bind="foreach: suggestions" style="display:inline-block;">
        <li>
            <a data-bind="text: $data, click: $parent.doSearch" href="#"></a>
        </li>
    </ul>
    <div class="row-fluid">
        <!-- ko foreach: selectedRanks -->
        <button data-bind="text: $data, click: function(){$parent.selectedRanks.remove($data)}" class="btn btn-primary btn-xs top-buffer"></button>
        <!-- /ko -->
        <!-- ko if: selectedRanks().length !== 0 -->
        <button data-bind="click: resetFilters" class="btn btn-danger btn-xs top-buffer">Fjern alle <i class="glyphicon glyphicon-remove"></i></button>
        <!-- /ko -->
    </div>
    <div data-bind='grid:{configuration: gridViewModelSettings}'></div>
</section>